<div class="btn-group btn-navigate">
    <button type="button" class="btn btn-primary">Menu</button>
    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
      <span class="visually-hidden">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu">
        <li>
            <a class="dropdown-item" href="/landings">Home</a>
        </li>

        <li><a class="dropdown-item" href="/patients">Post</a></li>
        <li><a class="dropdown-item" href="/feed">Feed</a></li>
        <li><a class="dropdown-item" href="/appointments">Appointments</a></li>
        <li>
            <a class="dropdown-item" href="/locationOnMap">Address Locator</a>
        </li>
        <li><a class="dropdown-item" href="/logout">Log Out</a></li>
    </ul>
</div>