<form class="omb_loginForm" action="/" autocomplete="off" method="POST">

    <span class="help-block"></span>
    <div class="input-group">
        <span class="input-group-addon"></span>
        <input type="text" class="form-control" name="phoneNumber" placeholder="phone number">
    </div>

    <span class="help-block"></span>

    <div class="input-group">
        <span class="input-group-addon"></span>
        <input type="text" class="form-control" name="notification" placeholder="notification">
    </div>

    <span class="help-block"></span>

    <div class="input-group">
        <span class="input-group-addon"></span>
        <select class="form-control" name="timeZone">
      {{#each timeZone}}
      <option>{{this}}</option>
      {{/each}}
    </select>
    </div>

    <span class="help-block"></span>

    <div class="input-group date" id="datetimepicker1">
        <input class="form-control" name="time">
        <span class="input-group-addon glyphicon-calendar glyphicon">
    </span>
    </div>

    <span class="help-block"></span>


    <button class="btn btn-lg btn-primary btn-block" type="submit">
  Submit
  </button>
</form>